workspace/Master Level1 Transform.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L1]",
            "storedProcedureParameters": {
              "DelayL1TransformationFlag": {
                "type": "Int32",
                "value": {
                  "value": "@pipeline().parameters.DelayL1TransformationFlag",
                  "type": "Expression"
                }
              },
              "MaxTransformInstance": {
                "type": "Int32",
                "value": {
                  "value": "@pipeline().parameters.MaxTransformInstance",
                  "type": "Expression"
                }
              },
              "SourceSystemName": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.SourceSystemName",
                  "type": "Expression"
                }
              },
              "StreamName": {
                "type": "String",
                "value": {
                  "value": "@pipeline().parameters.StreamName",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "AzureSqlTable",
            "typeProperties": {
              "database": "controlDB"
            },
            "schema": [],
            "externalReferences": {
              "connection": "91ecdff4-3ab7-4bbb-b6e0-682881c0540d"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Level1 Transform Instances",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get Level1 Transform Instances').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "ExecutePipeline",
              "typeProperties": {
                "pipeline": {
                  "referenceName": "b25d5ad7-288a-4426-83f3-170aff284708",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "L1TransformInstanceID": {
                    "value": "@item().L1TransformInstanceID",
                    "type": "Expression"
                  },
                  "L1TransformID": {
                    "value": "@item().L1TransformID",
                    "type": "Expression"
                  },
                  "IngestID": {
                    "value": "@item().IngestID",
                    "type": "Expression"
                  },
                  "ComputeName": {
                    "value": "@item().ComputeName",
                    "type": "Expression"
                  },
                  "ComputePath": {
                    "value": "@item().ComputePath",
                    "type": "Expression"
                  },
                  "CustomParameters": {
                    "value": "@item().CustomParameters",
                    "type": "Expression"
                  },
                  "InputRawFileSystem": {
                    "value": "@item().InputRawFileSystem",
                    "type": "Expression"
                  },
                  "InputRawFileFolder": {
                    "value": "@item().InputRawFileFolder",
                    "type": "Expression"
                  },
                  "InputRawFile": {
                    "value": "@item().InputRawFile",
                    "type": "Expression"
                  },
                  "InputRawFileDelimiter": {
                    "value": "@item().InputRawFileDelimiter",
                    "type": "Expression"
                  },
                  "InputFileHeaderFlag": {
                    "value": "@item().InputFileHeaderFlag",
                    "type": "Expression"
                  },
                  "OutputL1CurateFileSystem": {
                    "value": "@item().OutputL1CurateFileSystem",
                    "type": "Expression"
                  },
                  "OutputL1CuratedFolder": {
                    "value": "@item().OutputL1CuratedFolder",
                    "type": "Expression"
                  },
                  "OutputL1CuratedFile": {
                    "value": "@item().OutputL1CuratedFile",
                    "type": "Expression"
                  },
                  "OutputL1CuratedFileDelimiter": {
                    "value": "@item().OutputL1CuratedFileDelimiter",
                    "type": "Expression"
                  },
                  "OutputL1CuratedFileFormat": {
                    "value": "@item().OutputL1CuratedFileFormat",
                    "type": "Expression"
                  },
                  "OutputL1CuratedFileWriteMode": {
                    "value": "@item().OutputL1CuratedFileWriteMode",
                    "type": "Expression"
                  },
                  "OutputDWStagingTable": {
                    "value": "@item().OutputDWStagingTable",
                    "type": "Expression"
                  },
                  "LookupColumns": {
                    "value": "@item().LookupColumns",
                    "type": "Expression"
                  },
                  "OutputDWTable": {
                    "value": "@item().OutputDWTable",
                    "type": "Expression"
                  },
                  "OutputDWTableWriteMode": {
                    "value": "@item().OutputDWTableWriteMode",
                    "type": "Expression"
                  },
                  "ReRunL1TransformFlag": {
                    "value": "@item().ReRunL1TransformFlag",
                    "type": "Expression"
                  },
                  "MaxRetries": {
                    "value": "@item().MaxRetries",
                    "type": "Expression"
                  },
                  "WatermarkColName": {
                    "value": "@item().WatermarkColName",
                    "type": "Expression"
                  },
                  "SilverObjectID": {
                    "value": "@pipeline().parameters.SilverObjectID",
                    "type": "Expression"
                  },
                  "SilverWorkspaceID": {
                    "value": "@pipeline().parameters.SilverWorkspaceID",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              },
              "policy": {
                "secureInput": false
              },
              "name": "Level 1 Transform",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach Level 1 Transform Instance",
        "dependsOn": [
          {
            "activity": "Get Level1 Transform Instances",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "SourceSystemName": {
        "type": "string",
        "defaultValue": "WWI"
      },
      "StreamName": {
        "type": "string"
      },
      "MaxTransformInstance": {
        "type": "int",
        "defaultValue": 100
      },
      "DelayL1TransformationFlag": {
        "type": "int",
        "defaultValue": 0
      },
      "SilverObjectID": {
        "type": "string",
        "defaultValue": "cc80a0ab-603d-4df9-bdfc-c35a7e8ab095"
      },
      "SilverWorkspaceID": {
        "type": "string",
        "defaultValue": "8d8d00a7-0e8a-4e3b-8c0e-8dcafac7adec"
      }
    }
  }
}