workspace/Level1 Transform.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@pipeline().RunId",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set RunID",
        "dependsOn": []
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "database": "controlDB",
          "storedProcedureName": "[ELT].[UpdateTransformInstance_L1]",
          "storedProcedureParameters": {
            "L1TransformADFPipelineRunID": {
              "value": {
                "value": "@variables('RunID')",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "L1TransformInstanceId": {
              "value": {
                "value": "@pipeline().parameters.L1TransformInstanceID",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "L1TransformStatus": {
              "value": "Running",
              "type": "String"
            },
            "MaxRetries": {
              "value": {
                "value": "@pipeline().parameters.MaxRetries",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "externalReferences": {
          "connection": "91ecdff4-3ab7-4bbb-b6e0-682881c0540d"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Level1 Transform RUNNING",
        "dependsOn": [
          {
            "activity": "Set RunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "e3432c41-c712-4d7b-8868-a94bcc540915",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "L1TransformInstanceID": {
              "value": {
                "value": "@pipeline().parameters.L1TransformInstanceID",
                "type": "Expression"
              },
              "type": "int"
            },
            "L1TransformID": {
              "value": {
                "value": "@pipeline().parameters.L1TransformID",
                "type": "Expression"
              },
              "type": "int"
            },
            "IngestID": {
              "value": {
                "value": "@pipeline().parameters.IngestID",
                "type": "Expression"
              },
              "type": "int"
            },
            "CustomParameters": {
              "value": {
                "value": "@pipeline().parameters.CustomParameters",
                "type": "Expression"
              },
              "type": "string"
            },
            "InputRawFileSystem": {
              "value": {
                "value": "@pipeline().parameters.InputRawFileSystem",
                "type": "Expression"
              },
              "type": "string"
            },
            "InputRawFileFolder": {
              "value": {
                "value": "@pipeline().parameters.InputRawFileFolder",
                "type": "Expression"
              },
              "type": "string"
            },
            "InputRawFile": {
              "value": {
                "value": "@pipeline().parameters.InputRawFile",
                "type": "Expression"
              },
              "type": "string"
            },
            "InputRawFileDelimiter": {
              "value": {
                "value": "@pipeline().parameters.InputRawFileDelimiter",
                "type": "Expression"
              },
              "type": "string"
            },
            "InputFileHeaderFlag": {
              "value": {
                "value": "@pipeline().parameters.InputFileHeaderFlag",
                "type": "Expression"
              },
              "type": "bool"
            },
            "OutputL1CurateFileSystem": {
              "value": {
                "value": "@pipeline().parameters.OutputL1CurateFileSystem",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputL1CuratedFolder": {
              "value": {
                "value": "@pipeline().parameters.OutputL1CuratedFolder",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputL1CuratedFile": {
              "value": {
                "value": "@pipeline().parameters.OutputL1CuratedFile",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputL1CuratedFileDelimiter": {
              "value": {
                "value": "@pipeline().parameters.OutputL1CuratedFileDelimiter",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputL1CuratedFileFormat": {
              "value": {
                "value": "@pipeline().parameters.OutputL1CuratedFileFormat",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputL1CuratedFileWriteMode": {
              "value": {
                "value": "@pipeline().parameters.OutputL1CuratedFileWriteMode",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputDWStagingTable": {
              "value": {
                "value": "@pipeline().parameters.OutputDWStagingTable",
                "type": "Expression"
              },
              "type": "string"
            },
            "LookupColumns": {
              "value": {
                "value": "@pipeline().parameters.LookupColumns",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputDWTable": {
              "value": {
                "value": "@pipeline().parameters.OutputDWTable",
                "type": "Expression"
              },
              "type": "string"
            },
            "OutputDWTableWriteMode": {
              "value": {
                "value": "@pipeline().parameters.OutputDWTableWriteMode",
                "type": "Expression"
              },
              "type": "string"
            },
            "ReRunL1TransformFlag": {
              "value": {
                "value": "@pipeline().parameters.ReRunL1TransformFlag",
                "type": "Expression"
              },
              "type": "bool"
            },
            "DeltaName": {
              "value": {
                "value": "@pipeline().parameters.DeltaName",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Level 1 Transform Notebook",
        "dependsOn": [
          {
            "activity": "Level1 Transform RUNNING",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "database": "controlDB",
          "storedProcedureName": "[ELT].[UpdateTransformInstance_L1]",
          "storedProcedureParameters": {
            "IngestCount": {
              "value": {
                "value": "@variables('numSourceRows')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "L1TransformADFPipelineRunID": {
              "value": {
                "value": "@variables('RunID')",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "L1TransformCount": {
              "value": {
                "value": "@add(int(variables('numTargetRowsInserted')), int(variables('numTargetRowsUpdated')))",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "L1TransformInstanceId": {
              "value": {
                "value": "@pipeline().parameters.L1TransformInstanceID",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "L1TransformStatus": {
              "value": "Success",
              "type": "String"
            },
            "MaxRetries": {
              "value": {
                "value": "@pipeline().parameters.MaxRetries",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "externalReferences": {
          "connection": "91ecdff4-3ab7-4bbb-b6e0-682881c0540d"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Level 1 Transform SUCCESS",
        "dependsOn": [
          {
            "activity": "ForEach Level 2 Config",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "numTargetRowsInserted",
          "value": {
            "value": "@string(json(activity('Level 1 Transform Notebook').output.result.exitValue).numTargetRowsInserted)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set numTargetRowsInserted",
        "dependsOn": [
          {
            "activity": "Level 1 Transform Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "numSourceRows",
          "value": {
            "value": "@string(json(activity('Level 1 Transform Notebook').output.result.exitValue).numSourceRows)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set numSourceRows",
        "dependsOn": [
          {
            "activity": "Level 1 Transform Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "numTargetRowsUpdated",
          "value": {
            "value": "@string(json(activity('Level 1 Transform Notebook').output.result.exitValue).numTargetRowsUpdated)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set numTargetRowsUpdated",
        "dependsOn": [
          {
            "activity": "Level 1 Transform Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderStoredProcedureName": "[ELT].[GetTransformDefinition_L2]",
            "storedProcedureParameters": {
              "IngestID": {
                "type": "Int32",
                "value": {
                  "value": "@pipeline().parameters.IngestID",
                  "type": "Expression"
                }
              }
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "AzureSqlTable",
            "typeProperties": {
              "database": "controlDB"
            },
            "schema": [],
            "externalReferences": {
              "connection": "91ecdff4-3ab7-4bbb-b6e0-682881c0540d"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Level 2 Transform Config",
        "dependsOn": [
          {
            "activity": "Set numTargetRowsInserted",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Set numSourceRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Set numTargetRowsUpdated",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get Level 2 Transform Config').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "database": "controlDB",
                "storedProcedureName": "[ELT].[InsertTransformInstance_L2]",
                "storedProcedureParameters": {
                  "CustomParameters": {
                    "value": {
                      "value": "@item().CustomParameters",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "DataFromNumber": {
                    "value": {
                      "value": "@item().DataFromNumber",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "DataFromTimestamp": {
                    "value": {
                      "value": "@item().DataFromTimestamp",
                      "type": "Expression"
                    },
                    "type": "DateTime"
                  },
                  "DataToNumber": {
                    "value": {
                      "value": "@item().DataToNumber",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "DataToTimestamp": {
                    "value": {
                      "value": "@item().DataToTimestamp",
                      "type": "Expression"
                    },
                    "type": "DateTime"
                  },
                  "DeltaName": {
                    "value": {
                      "value": "@item().DeltaName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "IngestADFPipelineRunID": {
                    "value": {
                      "value": "@variables('RunID')",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "IngestID": {
                    "value": {
                      "value": "@item().IngestID",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "InputDWTable": {
                    "value": {
                      "value": "@item().InputDWTable",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "InputFile": {
                    "value": {
                      "value": "@item().InputFile",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "InputFileDelimiter": {
                    "value": {
                      "value": "@item().InputFileDelimiter",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "InputFileFolder": {
                    "value": {
                      "value": "@item().InputFileFolder",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "InputFileHeaderFlag": {
                    "value": {
                      "value": "@item().InputFileHeaderFlag",
                      "type": "Expression"
                    },
                    "type": "Boolean"
                  },
                  "InputFileSystem": {
                    "value": {
                      "value": "@item().InputFileSystem",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "L1TransformADFPipelineRunID": {
                    "value": {
                      "value": "@variables('RunID')",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "L1TransformID": {
                    "value": {
                      "value": "@item().L1TransformID",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "L2TransformID": {
                    "value": {
                      "value": "@item().L2TransformID",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "LookupColumns": {
                    "value": {
                      "value": "@item().LookupColumns",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "MaxRetries": {
                    "value": {
                      "value": "@item().MaxRetries",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "NotebookName": {
                    "value": {
                      "value": "@item().NotebookName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "NotebookPath": {
                    "value": {
                      "value": "@item().NotebookPath",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputDWStagingTable": {
                    "value": {
                      "value": "@item().OutputDWStagingTable",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputDWTable": {
                    "value": {
                      "value": "@item().OutputDWTable",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputDWTableWriteMode": {
                    "value": {
                      "value": "@item().OutputDWTableWriteMode",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputL2CuratedFile": {
                    "value": {
                      "value": "@item().OutputL2CuratedFile",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputL2CuratedFileDelimiter": {
                    "value": {
                      "value": "@item().OutputL2CuratedFileDelimiter",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputL2CuratedFileFormat": {
                    "value": {
                      "value": "@item().OutputL2CuratedFileFormat",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputL2CuratedFileWriteMode": {
                    "value": {
                      "value": "@item().OutputL2CuratedFileWriteMode",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputL2CuratedFolder": {
                    "value": {
                      "value": "@item().OutputL2CuratedFolder",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "OutputL2CurateFileSystem": {
                    "value": {
                      "value": "@item().OutputL2CurateFileSystem",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "externalReferences": {
                "connection": "91ecdff4-3ab7-4bbb-b6e0-682881c0540d"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Instantiate Level 2 Transform",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach Level 2 Config",
        "dependsOn": [
          {
            "activity": "Get Level 2 Transform Config",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "database": "controlDB",
          "storedProcedureName": "[ELT].[UpdateTransformInstance_L1]",
          "storedProcedureParameters": {
            "L1TransformADFPipelineRunID": {
              "value": {
                "value": "@variables('RunID')",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "L1TransformInstanceId": {
              "value": {
                "value": "@pipeline().parameters.L1TransformInstanceID",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "L1TransformStatus": {
              "value": "Failure",
              "type": "String"
            },
            "MaxRetries": {
              "value": {
                "value": "@pipeline().parameters.MaxRetries",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "externalReferences": {
          "connection": "91ecdff4-3ab7-4bbb-b6e0-682881c0540d"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Level 1 Transform FAILURE",
        "dependsOn": [
          {
            "activity": "Level 1 Transform Notebook",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "L1TransformInstanceID": {
        "type": "int"
      },
      "L1TransformID": {
        "type": "int"
      },
      "IngestID": {
        "type": "int"
      },
      "NotebookName": {
        "type": "string"
      },
      "NotebookPath": {
        "type": "string"
      },
      "CustomParameters": {
        "type": "string"
      },
      "InputRawFileSystem": {
        "type": "string"
      },
      "InputRawFileFolder": {
        "type": "string"
      },
      "InputRawFile": {
        "type": "string"
      },
      "InputRawFileDelimiter": {
        "type": "string"
      },
      "InputFileHeaderFlag": {
        "type": "bool"
      },
      "OutputL1CurateFileSystem": {
        "type": "string"
      },
      "OutputL1CuratedFolder": {
        "type": "string"
      },
      "OutputL1CuratedFile": {
        "type": "string"
      },
      "OutputL1CuratedFileDelimiter": {
        "type": "string"
      },
      "OutputL1CuratedFileFormat": {
        "type": "string"
      },
      "OutputL1CuratedFileWriteMode": {
        "type": "string"
      },
      "OutputDWStagingTable": {
        "type": "string"
      },
      "LookupColumns": {
        "type": "string"
      },
      "OutputDWTable": {
        "type": "string"
      },
      "OutputDWTableWriteMode": {
        "type": "string"
      },
      "ReRunL1TransformFlag": {
        "type": "bool"
      },
      "MaxRetries": {
        "type": "int"
      },
      "DeltaName": {
        "type": "string"
      }
    },
    "variables": {
      "RunID": {
        "type": "String"
      },
      "numSourceRows": {
        "type": "String",
        "defaultValue": "0"
      },
      "numTargetRowsInserted": {
        "type": "String",
        "defaultValue": "0"
      },
      "numTargetRowsUpdated": {
        "type": "String",
        "defaultValue": "0"
      }
    }
  }
}